<div class="border-4 relative rounded-lg">
  <div class="w-80 h-80 grid grid-cols-8">
    @for (row of board().squares; let rowIdx = $index; track rowIdx) {
      @for (square of row; let colIdx = $index; track colIdx) {
        <div class="h-10 w-10 flex items-center justify-center" 
             [class]="{ 
              'bg-gray-500': square.color === 'black',
              'bg-gray-300': square.color === 'white' 
             }">
          @if (square.isLeftEdge) {
            <span class="absolute -left-4 text-gray-500 font-medium text-[10px]">{{ square.row }}</span>
          }

          @if (square.isBottomEdge) {
            <span class="absolute -bottom-5.5 text-gray-500 font-medium text-[10px]">{{ square.col }}</span>
          }

          @if (square.piece) {
            <span class="font-bold text-xs"
                  [class]="{ 
                    'text-black': square.piece.color === 'black',
                    'text-white': square.piece.color === 'white'  
                  }">
              {{ square.piece.icon }}
            </span>
          }
        </div>
      }
    }
  </div>
</div>